
body {
	background: #d2d2c1 url(images/fundo.png);
	font: 16px Arial, helvetica, sans-serif;
}

#home {
	width: 900px;

}
#menu {
    background: #c5c5b2;
    padding: 18px;
}
#content {
    background: #e8e8d9;
    padding:10px;

}
/* Tanto a class roda como centralizar funcionaria */
#copyright{
    text-align: center;
}
a { color: #4b566a;
  
    font-weight: bold;
    border: none;
    padding: 15px;
}
a:hover{
    color: #6d790f;
}
.center {
    text-align: center;
}
h1 {
    color:#828271;
    font-size: 1.2em;
}