#home {
	background-size:cover;
	background: #ffc107;
	color: white;
}
.box{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}
/* h1{
	margin-bottom:20px;
	padding: 50px 0;
}
br {
	height: 0;
	width: 0;
	clear:boxth;
}
p{
	font-size: 18px;
} */